// responsive screen width
$small: 360px;
$mobile: 576px;
$tablet: 768px;
$medium: 992px;
$desktop: 1200px;

// colors
$white: #FFF;
$light-gray: #D4D6D9;
$dark-gray: #505050;
$darker-gray: rgba(0, 0, 0, 0.4);

$red: #E31938;
$light-red: #FF5556;

$light-blue: #428BCA;
