.btn {
  &-header {
    background-color: $red !important;
    color: $white !important;
    border-radius: 0px !important;
	  box-shadow: none !important;
    font-family: "Nunito",sans-serif !important;
    text-transform: none !important;

    @media screen and (max-width: $tablet) {
      display: none !important;
    }
  }

  &-primary {
    background-color: $red !important;
    color: $white !important;
    border-radius: 0px !important;
	  box-shadow: none !important;
    width: 200px;
    height: 50px;
    font-family: "Nunito",sans-serif !important;
    text-transform: none !important;

    &.Mui-disabled {
      background-color: $light-gray !important;
    }

    &.small {
      width: 150px !important;
      height: 35px !important;
    }

    &.exit {
      width: 660px !important;

      @media screen and (max-width: $tablet) {
        width: 300px !important;
      }
    }
  }

  &-text {
    color: #A2ABB7 !important;
    font-family: Source Code Pro !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: none !important;

    &.Mui-disabled {
      color: rgba(0, 0, 0, 0.26) !important;
    }
  }
 

  &-fab {
    background-color: $red !important;
    color: $white !important;
    font-family: "Nunito",sans-serif !important;
    text-transform: none !important;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12) !important;

    &.Mui-disabled {
      background-color: $light-gray !important;
    }
  }

  &-stake__max {
    background-color: $light-blue !important;
    color: $white !important;
    height: 20px;
    margin-left: 10px !important;
    font-size: 0.8rem !important;
    border-radius: 10px !important;
    margin-top: -3px !important;
  }
}
