.circle {
  font-size: 36px;
  height: 80px;
  width: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: #C8c9dE 4px 4px 8px inset, #E7F4FF -6px -6px 12px inset;
  border-radius: 40px;
  margin: 0px auto 16px;
}
